{% extends 'base.html.twig' %}

{% block title %}Créer un trajet !{% endblock %}

{% block body %}

<div class="container">
    <div class="alert alert-info" role="alert">
        Vous ne trouvez pas votre lieu dans la liste ? <a class="btn btn-success text-white" href="{{ path("new_location") }}">Créez-en un maintenant</a>
    </div>
    <a class="btn btn-secondary" href="{{ path("home") }}">Accueil</a>

    {{ form(createPathForm) }}

</div>
{% endblock %}
